
<div class=" h-screen flex flex-col">
    <app-header/>
    
    
    <div class="flex flex-col flex-grow px-[5%] dark:bg-dark-body pb-40 pt-10 overflow-scroll">
        
        
        <div class="flex gap-2 flex-wrap dark:text-white">
        
          <div class="max-w-sm w-full lg:max-w-full lg:flex">
        
            <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-tl lg:rounded-l text-center overflow-hidden" style="background-image: url('https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/302284214/original/d7934bb3f59a9235e1b86a092f1f225dd5c05f6e/professional-article-writing-services-for-your-blog-website-or-business.jpg')" title="Woman holding a mug">
            </div>
        
            <div class="w-full border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 dark:border-dark-box bg-white dark:bg-dark-box rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
              
              <div class="flex flex-wrap gap-2">
                <input class="dark:bg-dark-body dark:text-white rounded-lg p-2" id="title" placeholder="Title"/>
                <textarea id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 dark:bg-dark-body dark:text-white  dark:placeholder-gray-400 dark:text-white " placeholder="Write your description here..."></textarea>
              </div>
        
              <div class="flex flex-wrap justify-around pt-2">
                <div><span class="font-bold"> status </span>  :<input class="dark:bg-dark-body dark:text-white rounded-lg p-2" id="status" placeholder="status"/></div>
                <div><span class="font-bold"> contentType </span>  :<input class="dark:bg-dark-body dark:text-white rounded-lg p-2" id="type" placeholder="type"/></div>
              </div>
        
              <div class="flex flex-wrap justify-around pt-2">
                <div><span class="font-bold"> created </span>  :2023-01-27</div>
                <div><span class="font-bold"> updated </span>  :2023-01-27</div>
              </div>
        
              <div class="py-4"><span class="font-bold"> url </span><a href="#" style="color:royalblue;"><input class="dark:bg-dark-body dark:text-white rounded-lg p-2" id="url" placeholder="Url"/></a></div>
        
              <div class="flex justify-end gap-2">
                <a routerLink="/"><button class="btn btn-outline btn-warning">Cancel</button></a>
                <button class="btn btn-outline btn-success">Done</button>
              </div>
        
        
            </div>
        
          </div>
    
        </div>
        
        
    </div>
    
    
    <div class="flex-shrink-0">
      <app-footer />
    </div>
    </div>
    