<app-header/>


<div class="flex flex-col h-screen min-w-full px-40 dark:bg-dark-body">
    

<div class="flex flex-row justify-between dark:text-white py-5">
    <button class="btn btn-outline btn-accent">Create New</button>

    <div class="flex flex-row gap-6">

        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn m-1">Status</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li><a>IDEA</a></li>
              <li><a>COMPLETED</a></li>
              <li><a>PUBLISHED</a></li>
              <li><a>IN_PROGRESS</a></li>
            </ul>
          </div>

        <div class="dropdown dropdown-bottom dropdown-end">
            <div tabindex="0" role="button" class="btn m-1">Type</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li><a>ARTICLE</a></li>
              <li><a>VIDEO</a></li>
              <li><a>COURSE</a></li>
              <li><a> CONFERENCE_TALK</a></li>
            </ul>
          </div>

        <div class="dropdown dropdown-bottom">
            <div tabindex="0" role="button" class="btn m-1">Sort by</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li><a>TITLE</a></li>
              <li><a>STATUS</a></li>
              <li><a>TYPE</a></li>
              <li><a>DATE CREATED</a></li>
            </ul>
          </div>

    </div>
</div>

<div class="">
    content
</div>







</div>