<div class=" h-screen flex flex-col">
<app-header/>


<div class="flex flex-col flex-grow px-[5%] dark:bg-dark-body pb-40">
    

<div class="flex flex-row justify-between py-5">
  <a routerLink="/new"><button class="btn btn-outline btn-accent">Create New</button></a>

    <div class="flex flex-row gap-[1%]">

        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn m-1 dark:bg-dark-btn">Status</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li><a>IDEA</a></li>
              <li><a>COMPLETED</a></li>
              <li><a>PUBLISHED</a></li>
              <li><a>IN_PROGRESS</a></li>
            </ul>
          </div>

        <div class="dropdown dropdown-bottom dropdown-end">
            <div tabindex="0" role="button" class="btn m-1 dark:bg-dark-btn">Type</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li><a>ARTICLE</a></li>
              <li><a>VIDEO</a></li>
              <li><a>COURSE</a></li>
              <li><a> CONFERENCE_TALK</a></li>
            </ul>
          </div>

          <div class="dropdown dropdown-bottom dropdown-end">
            <div tabindex="0" role="button" class="btn m-1 dark:bg-dark-btn">Sort by</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li><a>TITLE</a></li>
              <li><a>STATUS</a></li>
              <li><a>TYPE</a></li>
              <li><a>DATE CREATED</a></li>
            </ul>
          </div>

    </div>
</div>






<div *ngFor="let product of products">
  <div>{{product.id}}</div>
  <div>{{product.title}}</div>
  <div>{{product.desc}}</div>
</div>








<div class="flex gap-2 flex-wrap dark:text-white hidden">

  <div class="max-w-sm w-full lg:max-w-full lg:flex ">

    <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-tl lg:rounded-l text-center overflow-hidden" style="background-image: url('https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/302284214/original/d7934bb3f59a9235e1b86a092f1f225dd5c05f6e/professional-article-writing-services-for-your-blog-website-or-business.jpg')" title="Woman holding a mug">
    </div>

    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 dark:border-dark-box bg-white dark:bg-dark-box rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      
      <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2">Some content title</div>
        <p class="text-gray-700 text-base">Some content discription Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
      </div>

      <div class="flex flex-wrap justify-around">
        <div><span class="font-bold"> status </span>  :PUBLISHED</div>
        <div><span class="font-bold"> contentType </span>  :ARTICLE</div>
      </div>

      <div class="flex flex-wrap justify-around ">
        <div><span class="font-bold"> created </span>  :2023-01-27</div>
        <div><span class="font-bold"> updated </span>  :2023-01-27</div>
      </div>

      <div class="py-4"><span class="font-bold"> url </span><a href="#" style="color:royalblue;">http://www.vtech.calendar/blog/2023</a></div>

      <div class="flex justify-end">
        <a routerLink="/content"><button class="btn btn-outline btn-warning">Edit</button></a>
      </div>


    </div>

  </div>

  <div class="max-w-sm w-full lg:max-w-full lg:flex">

    <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-tl lg:rounded-l text-center overflow-hidden" style="background-image: url('https://seoghana.com/wp-content/uploads/2019/10/960x0.jpg')" title="Woman holding a mug">
    </div>

    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 dark:border-dark-box bg-white dark:bg-dark-box rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      
      <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2">Some content title</div>
        <p class="text-gray-700 text-base">Some content discription Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
      </div>

      <div class="flex flex-wrap justify-around">
        <div><span class="font-bold"> status </span>  :PUBLISHED</div>
        <div><span class="font-bold"> contentType </span>  :ARTICLE</div>
      </div>

      <div class="flex flex-wrap justify-around ">
        <div><span class="font-bold"> created </span>  :2023-01-27</div>
        <div><span class="font-bold"> updated </span>  :2023-01-27</div>
      </div>

      <div class="py-4"><span class="font-bold"> url </span><a href="#" style="color:royalblue;">http://www.vtech.calendar/blog/2023</a></div>

      <div class="flex justify-end">
        <button class="btn btn-outline btn-warning">Edit</button>
      </div>


    </div>

  </div>

   <div class="max-w-sm w-full lg:max-w-full lg:flex">

    <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-tl lg:rounded-l text-center overflow-hidden" style="background-image: url('https://pttejram.org.in/wp-content/uploads/2019/05/courses.jpg')" title="Woman holding a mug">
    </div>

    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 dark:border-dark-box bg-white dark:bg-dark-box rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      
      <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2">Some content title</div>
        <p class="text-gray-700 text-base">Some content discription Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
      </div>

      <div class="flex flex-wrap justify-around">
        <div><span class="font-bold"> status </span>  :PUBLISHED</div>
        <div><span class="font-bold"> contentType </span>  :ARTICLE</div>
      </div>

      <div class="flex flex-wrap justify-around ">
        <div><span class="font-bold"> created </span>  :2023-01-27</div>
        <div><span class="font-bold"> updated </span>  :2023-01-27</div>
      </div>

      <div class="py-4"><span class="font-bold"> url </span><a href="#" style="color:royalblue;">http://www.vtech.calendar/blog/2023</a></div>

      <div class="flex justify-end">
        <button class="btn btn-outline btn-warning">Edit</button>
      </div>


    </div>

  </div>






  <!-- no content -->
  
  <div class="flex items-center justify-center w-full"><img src="https://cocognito.com/static/images/no_content.png" alt=""></div>
  
</div>


</div>


<div class="flex-shrink-0">
  <app-footer />
</div>
</div>