<app-header/>


<div class="flex flex-col h-full min-w-full px-40 dark:bg-dark-body pb-40">
    
    
    <div class="flex gap-2 flex-wrap dark:text-white">
    
      <div class="max-w-sm w-full lg:max-w-full lg:flex">
    
        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-tl lg:rounded-l text-center overflow-hidden" style="background-image: url('https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/302284214/original/d7934bb3f59a9235e1b86a092f1f225dd5c05f6e/professional-article-writing-services-for-your-blog-website-or-business.jpg')" title="Woman holding a mug">
        </div>
    
        <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 dark:border-dark-box bg-white dark:bg-dark-box rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          
          <div class="mb-8">
            <div class="text-gray-900 font-bold text-xl mb-2">Some content title</div>
            <p class="text-gray-700 text-base">Some content discription Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
          </div>
    
          <div class="flex flex-wrap justify-around">
            <div><span class="font-bold"> status </span>  :PUBLISHED</div>
            <div><span class="font-bold"> contentType </span>  :ARTICLE</div>
          </div>
    
          <div class="flex flex-wrap justify-around ">
            <div><span class="font-bold"> created </span>  :2023-01-27</div>
            <div><span class="font-bold"> updated </span>  :2023-01-27</div>
          </div>
    
          <div class="py-4"><span class="font-bold"> url </span><a href="#" style="color:royalblue;">http://www.vtech.calendar/blog/2023</a></div>
    
          <div class="flex justify-end">
            <button class="btn btn-outline btn-warning">Edit</button>
          </div>
    
    
        </div>
    
      </div>

    </div>
    
    
</div>



<app-footer/>