/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
:root {
    --my-color: #fff;
  }
  
  [data-theme='dark'] {
    --my-color: #000;
  }
  
  [data-theme='pink'] {
    --my-color: #ffabc8;
  }
  
  body {
    background-color: var(--my-color);
  }
  